Package: uncar
Name: uncar
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Extract Asset.car files from bundles
Maintainer: Elias Limneos <limneoselias@gmail.com>
Author: Elias Limneos <limneoselias@gmail.com>
Section: System
Tag: role::hacker
